
.profile {
  background: #202020;
}

.profile__title {
  text-align: center;
  padding-top: 75px;
  margin: 0 auto 123px;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.profile__container {
  display: flex;
  flex-direction: column;
  max-width: 410px;
  margin: 0 auto;
  row-gap: 12px;
}

.profile__container-form {
  margin-bottom: 195px;
}

.profile__container-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.profile__container-wrapper_border {
  border: none;
}

.profile__container-span {
  margin: 0;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}

.profile__text-label-last {
  margin: 0 284px 198px 0;
}

.profile__text-input {
  font-size: 11px;
  color: white;
  background-color: #202020;
  border: 0;
  padding: 0;
  width: 50%;
  text-align: right;
  box-sizing: border-box;
}


.profile__text-input::placeholder {
  color: gray;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
}

.profile__error {
  color: #EE3465;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__button-edit {
  margin-bottom: 3px;
  color: white;
  border: 0;
  background-color: #202020;
  padding: 0;
  font-size: 13px;
  line-height: normal;
}

.profile__button-disabled {
  width: 117px;
  color: gray;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #e5e5e5;
  opacity: 0.7;
}
.profile__link-exit {
  text-align: center;
  text-decoration: none;
  color: #EE3465;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 70px;
}

.profile__link-success {
  text-align: center;
  color: gray;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
}

.auth__error-profile {
  min-height: 16px;
  display: block;
  border-bottom: 1px solid #424242;
  margin-bottom: 17px;
}


@media screen and (max-width: 768px) {
  .profile {
    padding-top: 150px;
  }
  .profile__title {
    padding-top: 85px;
    margin: 0 auto 98px;
  }
  .profile__container-form {
    margin-bottom: 186px;
  }
  .profile__container-wrapper {
    padding-bottom: 0;
  }
  .profile__text-label {
    margin: 96px 343px 2px 0;
  }
  .profile__text-label-last {
    margin: 0 284px 185px 0;
  }
  .profile__text-input {
    width: 97px;
  }
  .profile__link-exit {
    margin-bottom: 269px;
  }
}


@media screen and (max-width: 600px) {

  .profile {
    padding-top: 70px;
  }
  .profile__title {
    padding: 0;
    margin: 0 auto 80px;
  }
  .profile__container-form {
    margin-bottom: 355px;
  }
  .profile__container {
  max-width: 100%;
  margin: 0 30px;
  }
  .profile__container-wrapper {
    padding-bottom: 0;
  }

  .profile__text-label {
    margin: 68px 90px 2px 0;
  }

  .profile__text-label-first {
    margin-right: 90px;
  }
  .profile__text-label-last {
    margin: 0 133px 352px 0;
  }
  .profile__text-input {
    display: flex;
  }
  .profile__button-edit {
    font-size: 12px
  }
  .profile__link-exit {
    font-size: 12px;
    margin-bottom: 269px;
  }
}
