.content {
  background: #073042;
}

.main {
  margin: 0 auto;
  padding: 0;
  color: white;
  max-width: 1280px;
  min-width: 320px;
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.main-title {
  margin: 0 70px 70px 70px;
  border-bottom: 1px solid;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

@media screen and (max-width:768px) {
.main-title {
  margin: 0 50px 70px 50px;
  }
}

@media screen and (max-width:600px) {
  .main-title {
    margin: 0 14px 70px 14px;
    }
  }
