
.header {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 74px;
  background-color: #073042;
}
.header_theme_dark {
  background: #202020;
}

.header__link {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.header__movies {
  margin-right: 16px;
}

.header__navigation_movies {
  padding-left: 64px;
}

.header__navigation-home {
  display: none;
}

.header__nav {
  color: #ffffff;
  margin-right: 16px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}
.header__saved-movies {

}

.header__account-wrapper {
  display: flex;
}

.header__logoProfile_theme_dark {
  background-color: #313131;
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 10px;
  padding: 8px;
  border-radius: 50px;
  margin: 0 73px 0 8px;
}


.header__account {
  display: flex;
  text-decoration: none;
  color: white;
  margin: 30px 7px 0 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 12px
}

.header__account-image-dark {
  background-image: url(../../images/account-icon.svg);
  background-repeat: no-repeat;

  background-color: #0F4157;
  background-position: center;
  width: 10px;
  height: 10px;
  padding: 8px;
  border-radius: 50px;
  margin: 3px 73px 0 8px;
}


.header__account-image {
  margin: 0;
}


.hover-link:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
  cursor: pointer;
}

.hover-button:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
  cursor: pointer;
}

.header__profile {
align-items: center;
justify-content: center;
display: flex;
font-size: 13px;
font-weight: 500;
justify-content: center;
line-height: 16px;
text-decoration: none;
height: 32px;
color: #fff;
cursor: pointer;
}

.header__movies_none {
  display: none;
}

.header__saved-movies_none {
  display: none;
}

.header__movies {
  color: white;
  text-decoration: none;
  margin-right: 16px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.38;
}

.header__saved-movies {
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.38;
}

.header__logo {
  cursor: pointer;
  margin: 0 0 0 70px;
  width: 38px;
  height: 38px;
  background-image: url(../../images/headerLogo.svg);
}
.header__navigation {
  display: flex;
  justify-content: flex-end;
}
.header__registration {
  margin: 9px 30px 0 0;
  text-decoration: none;
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
}
.header__signin {
  padding: 7px;
  text-align: center;
  text-decoration: none;
  border: 0;
  margin: 0 70px 0 0;
  border-radius: 3px;
  background-color: #3DDC84;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  cursor: pointer;
  width: 61px;
  height: 19px;
}


@media screen and (max-width: 768px) {
  .header__logo {
    margin: 0 0 0 30px;
  }
  .header__profile {
    display: none;
  }
  .header__registration {
    margin: 8px 30px 0 0;
  }
  .header__navigation {
    margin-right: 16px;
  }

  .header__nav {
    display: none;
  }

  .header__signin {
    margin: 0px 14px 0 0;
  }
  .header__navigation_movies {
    display: none;
  }
  .header__account-wrapper {
    display: none;
  }
}


@media screen and (max-width: 600px) {
  .promo {
    padding-top: 71px
  }
  .header__logo {
    margin: 0 0 0 14px;
  }
  .header__registration {
    margin: 7px 11px 0 0;
    font-size: 10px;
}

  .header__signin {
    margin: 0;
    width: 40px;
    height: 11px;
    font-size: 10px;
  }
}


