.movies-card {
  background: #202020;
}

.movies-card__page {
  margin: 0 70px 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  justify-content: center;
  column-gap: 20px;
  row-gap: 40px;
}


.movies-card__container {
  background-color: #222222;
}

.movies-card__wrapper {
  height: 16px;
  margin: 12px 12px 10px 12px;
  display: flex;
  justify-content: space-between;
}
.movies-card__image {
  width: 270px;
  height: 151px;
}

.movies-card__caption {
  margin: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.movies-card__duration {
  margin-left: 12px;
  color: #8B8B8B;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.movies-card__button {
  cursor: pointer;
  padding: 14px;
  border: 0;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-size: contain;
  background-image: url(../../../images/save-non-active.svg);
}

.movies-card__button_active {
  cursor: pointer;
  background-image: url(../../../images/save-active.svg);
}

.movies-card__button-preload {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 36px;
  padding: 0;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #424242;
}

@media screen and (max-width:931px) {
  .movies-card__page {
    margin: 0 50px 80px;
    grid-template-columns: repeat(auto-fit, 339px);
  }
  .movies-card__image {
    width: 339px;
    height: 190px;
  }
}


@media screen and (max-width:795px) {
  .movies-card__page {
    margin: 0 30px 80px;
  }
}

@media screen and (max-width:480px) {
  .movies-card__page {
    margin: 0 10px 80px;
    grid-template-columns: repeat(auto-fit, 300px);
    row-gap: 23px;
  }
  .movies-card__image {
    width: 300px;
    height: 168px;
  }
  .movies-card__button-preload {
    width: 240px;
  }
}

