.card__like-button {
  align-self: flex-start;
  padding: 0;
  margin-top: 14px;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  background-position: -6px -3px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity .3s linear;
  background-image: url(../../../images/save-non-active.svg);
}
.card__like-button_active {
  background-image: url(../../../images/save-active.svg);
}

.movies-card {
  background-color: #222222;
  width: 100%;
}

.movies-card__container {
  padding: 0 12px 0 14px;
  min-height: 68px;
  display: flex;
  justify-content: space-between;
}

.movies-card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 225px;
}
.movies-card__image {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 151px;
  cursor: pointer;
}

.movies-card__caption {
  margin: 0 0 9px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--main-font-color);
}

.movies-card__duration {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--secondary-font-color);
}

.movies-card__button {
  cursor: pointer;
  padding: 14px;
  border: 0;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-size: contain;
  background-image: url(../../../images/save-non-active.svg);
}

.movies-card__button_active {
  cursor: pointer;
  background-image: url(../../../images/save-active.svg);
}





@media screen and (max-width:768px) {
  .movies-card__wrapper {
    max-width: 290px;
  }
  .movies-card__image {
    height: 190px;
  }
}

@media screen and (max-width:600px) {
  .movies-card__wrapper {
      max-width: 250px;
  }
  .movies-card__image {
    height: 168px;
  }
  .movies-card__button-preload {
    width: 240px;
  }
}

