.auth {
  background: #202020;
}
.auth__logo-link {
  display: block;
  margin: 0 auto;
  max-width: 400px;
}
.auth__logo {
  margin: 70px 0 38px 0;
}
.form {
  display: flex;
  flex-direction: column;
}
.auth__title {
  max-width: 400px;
  margin: 0 auto 40px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.auth__form {
    margin: 0 auto;
    max-width: 400px;
}
.auth__label {
  margin-bottom: 10px;
  color: #8B8B8B;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.auth__input {
  color: white;
  padding: 0;
  height: 46px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 8px;
  background: #2F2F2F;
}
.auth__input-register::placeholder {
  font-size: 13px;
  color: white;
}


.auth__input-register_password::placeholder {
  font-size: 13px;
  color: #EE3465;
}
.auth__input-register {
  padding-left: 15px;
  margin-bottom: 19px;
}
.auth__submit {
  height: 45px;
  border: 0;
  border-radius: 3px;
  background: #4285F4;
  margin-bottom: 16px;
}
.auth__submit-register {
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.auth__subtitle {
  padding-left: 92px;
  margin: 0px 0 70px;
  color: #8B8B8B;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.auth__subtitle-link {
  text-decoration: none;
  color: #4285F4;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.auth__error {
  margin-bottom: 72px;
  color: #EE3465;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .auth__logo {
    margin: 232px auto 38px 0;
  }
  .auth__subtitle {
    margin: 0 0 232px;
  }
}

@media screen and (max-width: 580px) {
  .auth__form {
    max-width: 260px;
  }
  .auth__logo {
    margin: 56px 141px 46px;
  }
  .auth__submit-register {
    font-size: 12px;
  }
  .auth__title {
    max-width: 234px;
    margin: 0 auto 80px;
  }
  .auth__error {
    margin-bottom: 161px;
  }
  .auth__subtitle {
    padding-left: 38px;
    font-size: 12px;
  }
  .auth__subtitle-link {
    font-size: 12px;
  }
}
