.login {
  background: #202020;
}
.login__button {
  margin-top: 90px;
}
.login__subtitle{
  padding-left: 60px;
}

@media screen and (max-width: 580px) {
  .login__subtitle {
    padding-left: 10px;
  }
  .login__title {
    max-width: 162px;
  }
}
