.auth {
  background: #202020;
}
.login__button {
  margin-top: 90px;
}
.login__subtitle{
  padding-left: 60px;
}
.auth__error-login {
  margin-bottom: 160px;
}
.auth__subtitle-login {
  padding-left: 58px;
}

@media screen and (max-width: 580px) {
  .login__subtitle {
    padding-left: 10px;
  }
  .login__title {
    text-align: center;
    max-width: 162px;
  }
  .auth__error-login {
    margin-bottom: 249px;
  }
  .auth__subtitle-login {
    padding-left: 8px;
  }
}
